* {
    font-family: Didot, serif;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(38, 38, 75);
}

header {
    margin-bottom: 3%;
}

hr {
    border: 2px solid rgb(89, 144, 245);
    width: 75%;
    margin-top: 2%;
    margin-left: 12.5%;
}


